@model IEnumerable<Position>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"] != null)
{
    <h1>@TempData["success"]</h1>
}

<h1>Position</h1>
<a asp-controller="Position" asp-action="Create" class="btn btn-primary">Add posiiton</a>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Salary
            </th>
            
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var position in Model)
        {
            <tr>
                <td>
                    @position.Id
                </td>
                <td>
                    @position.Name
                </td>
                <td>
                    @position.Salary
                </td>
       
                <td>
                    <a asp-controller="Position" asp-action="Edit" asp-route-id="@position.Id" class="btn btn-warning">Edit position</a>
                </td>
                <td>
                    <a asp-controller="Position" asp-action="Delete" asp-route-id="@position.Id" class="btn btn-danger">Delete position</a>
                </td>
            </tr>
        }
    </tbody>
</table>