@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"] != null)
{
    <h1>@TempData["success"]</h1>
}

<h1>Employees</h1>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Add employee</a>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Address
            </th>
            <th>
                Description
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>
                    @employee.Id
                </td>
                <td>
                    @employee.Name
                </td>
                <td>
                    @employee.Surname
                </td>
                <td>
                    @employee.Address
                </td>
                <td>
                    @employee.Description
                </td>
                <td>
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Edit employee</a>
                </td>
                <td>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete employee</a>
                </td>
            </tr>
        }
    </tbody>
</table>